*{
    margin: 0;
    padding: 0;
    /* This removes the extra white above the navigation bar*/
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    width: 250px;
    height: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    /* This is what makes the image bigger and puts in the right place*/
}
.product h2{
    color: #000;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* This changes the font*/

}
.product p{
    color: #000;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* This changes the font aswell*/
}
ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
}
li{

    float: left;
}
li a{ 
    text-decoration: none;
    color: black;
    padding: 20px 20px;
    display: block;
    font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li img{
    width: 60px;
    height: 70px;
}
body{
    background-color: white;
    /* This is for the background color of the website to be white*/
}
button{
    background-color: white;
    border-style: transparent;
    /* This is for the color of the buttom*/
}
